mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Новости
		+e.wrap
			.container
				+e.slider--js.swiper
					.swiper-wrapper
						- for (var x = 0; x < 3; x++)
							+e.slide.swiper-slide 
								+b.card(href="#")
									+pic(`sPortfolio-1.jpg`,'bg',0)
									//- img.card-img-top(src='...' alt='...')
									.card-body
										.card-title Порядка, а также постоянное информационно-ропагандистское
										
										p.card-text.small Равным образом сложившаяся структура организации  представляет собой интересный эксперимент проверки модели развития...
										small.text-light.pb-3 12.02.2022
			+arrow

	// end sNews