mixin sCalc(data)
	// start sCalc
	+b.SECTION.sCalc.section#sCalc&attributes(attributes)
		.container
			+b.section-title
				h2 Как заказать дизайн-проект
				p.fw-600 Если Ваша квартира находится в Москве или любом другом городе Московской области - Вам даже не нужно приезжать к нам в студию. Мы выезжаем для консультаций, обмеров, составления ТЗ на проект и заключения договоров абсолютно бесплатно. Вам остается лишь позвонить нам по телефону #[a(href="tel:+74952018220") +74952018220], пригласить нас к себе на объект в удобное время или просто нажать на кнопку ниже. 
				+e.btn(href="#") Заказать
			+b.calc
	// end sCalc