mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+pic(`head-bg.jpg`,'bg').picture-bg
		.container
			h1 Создание дизайн-проектов
			p Закажите дизайн-проект квартиры или дома с&nbsp;ремонтом под ключ и&nbsp;получите авторское сопровождение в&nbsp;подарок!
			+e.btn(href="#") Подробнее
	// end headerBlock