
mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title 
				h2 Недавно разработанные проекты
				
			.row.gy-4
				+card(`sCases-1`,`Ремонт и строительство под ключ`)
				+card(`sCases-2`,`Дизайн интерьера`)
				+card(`sCases-3`,`Ремонт в ванной`)
				+card(`sCases-4`,`Ремонт кухни`)
				+card(`sCases-5`,`Штукатурно-малярные работы`)
				+card(`sCases-6`,`Услуги электрика`)
				+card(`sCases-7`,`Услуги снатехника`)
				+card(`sCases-8`,`Уборка помещений`)
	// end sCases