mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title
				h2 Порядок работы над дизайн-проектом
				p.fw-500  Заказав у нас дизайн проект квартиры, Вы также получаете рабочую смету на отделочные работы и материалы и полное сопровождение проекта на всех стадиях ремонта, включая работу с управляющей компанией, закупку, доставку и разгрузку материалов. Это позволит Вам абстрагироваться от процесса и заниматься любимым делом. Наши наработанные с годами скидки сэкономят Ваш бюджет.
			.row.gy-5
				mixin item(t,p)
					+e.col.col-lg-4.col-md-6
						+e.item
							.h5= t
							p= p
				+item(`Звонок`,`Знакомимся, договариваемся об удобном для Вас времени встречи`)
				+item(`Встреча`,`Встречаемся на объекте, обсуждаем Ваши пожелания, стиль, бюджет, делаем обмеры`)
				+item(`Договор`,`Составляем техзадание на дизайн - проект, заключаем договор`)
				+item(`Проект`,`Создаем проект в три этапа: планировка, визуализация, чертежи`)
				+item(`Смета`,`Составляем смету на отделочные работы и материалы`)
				+item(`Ремонт`,`Заключаем договор на ремонт и приступаем к отделке`)
				
	// end sSteps