mixin sPrice(data)
	// start sPrice
	+b.SECTION.sPrice.section#sPrice&attributes(attributes)
		+pic(`price-bg.png`,'bg').picture-bg
		.container
			+b.section-title.text-center
				h2 Стоимость дизайн-проекта
			+e.inner
				.row.gy-3
					+card2(`sPortfolio-1`,`Проект планировки`,`Планировочное решение`, `Проект перепланировки квартиры согласно техническому заданию и необходимому функционалу.`, `500 ₽/м2` )
					+card2(`sPortfolio-1`,`Полный дизайн-проект`,`Комплексное решение`, `Полный комплект рабочих чертежей для ремонта. Фотореалистичная визуализация интерьера.`, `1 500 ₽/м2` )
					+card2(`sPortfolio-1`,`Технический проект`,`Проект без визуализации`, `Рабочие чертежи, планы схемы и спецификации для строителей без визуализации и разверток.`, `1 000 ₽/м2` )
	// end sPrice