-
	var nav= {  
		"Новости":"#",
		"Цены":"#",
		"Отзывы":"#" ,
		"Скидки":"#",
		"Контакты":"#",
		}
-
	var subnav= { 
		"Строительство загородных домов":"#",
		"Отделка загородных домов":"#",
		"Покраска деревянных домов":"#",
		"Штукатурные фасады загородных домов":"#" ,
		}
mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		if subnav
			li.menu-item.menu-item-has-children
				a(href="#" itemprop="url") О компании
				ul.sub-menu
					each sublinkPatch, sublinkName in subnav
						li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu